# Dependências
node_modules/
.npm/

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações locais (Segurança)
.env
.vscode/

# Arquivos do Sistema
Thumbs.db
ds_store