# Dependências
node_modules/
/dist
/dist-ssr
*.local

# SEGURANÇA 
.env
.env.production
.env.development
.env.local

# Logs do Sistema
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações de Editor (VS Code / IntelliJ)
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Temporários do Sistema
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?